.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(42, 42, 42);
    padding: 16px 0;
    z-index: 100;
}

.navbar > ul {
    list-style: none;
    margin: 0;
}

.navbarLinks {
    color: rgb(220, 220, 220);
    text-decoration: none;
    padding: 8px;
}

.navbarLinks:hover {
    background-color: rgb(67, 67, 67);
}
